<app-header></app-header>
<div
  style="
    border-style: solid;
    margin: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid black;
    display: flex;
  "
>
  <div style="flex: 1; display: flex; flex-direction: column">
    <a routerLink="/basic-angular">Basic Angular</a>
    <a routerLink="/event-example">Event Example</a>
    <a routerLink="/inputbox-example">Input box Example</a>
    <a routerLink="/conuter-example">Counter Example</a>
    <a routerLink="/property-binding-example">Property Binding Example</a>
  </div>
  <div style="flex: 1; display: flex; flex-direction: column">
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
    <a routerLink="/user-list">User List</a>
    <a routerLink="/person-list">Person List</a>
    <a routerLink="/student-list">Student List</a>
  </div>
  <div style="flex: 1; display: flex; flex-direction: column">
    <a routerLink="/country-list">Country List</a>
    <a routerLink="/if-else-example">If else Example</a>
    <a routerLink="/multiple-condition-example">Multiple condition Example</a>
    <a routerLink="/switch-case-example">Switch case Example</a>
    <a routerLink="/loop-example">Loop Example</a>
  </div>
  <div style="flex: 1; display: flex; flex-direction: column">
    <a routerLink="/style-binding-example">Style binding Example</a>
    <a routerLink="/basic-form-example">Basic Form Example</a>
    <a routerLink="/bootStrap-example">BootStrap Example</a>
    <a routerLink="/todo-list-example">Todo List Example</a>
    <a routerLink="/child-parent-example">Child Parent Data pass Example</a>
  </div>
  <div style="flex: 1; display: flex; flex-direction: column">
    <a routerLink="/two-way-binding-example">Two way binding Example</a>
    <a routerLink="/student-details-example">Student details Example</a>
    <a routerLink="/pipes-example">Pipes Example</a>
    <a routerLink="/reactive-form-example">Reactive Form Example</a>
    <a routerLink="/directive-example">Directive Example</a>
  </div>
  <div style="flex: 1; display: flex; flex-direction: column">
    <a routerLink="/dynamic-routing-example/1">Dynamic Routing Example</a>
  </div>
</div>

<!-- <div style="border-style: solid; margin: 10px; padding: 10px">
  Use Module
  <app-signin></app-signin>
</div> -->
<app-footer></app-footer>
<router-outlet></router-outlet>
